{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TestApp{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 align="center">Test Failed Records</h1>
    <div class="modal fade" id="batchEditBugModal" tabindex="-1" aria-labelledby="batchEditModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Edit Record</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <input type="hidden" id="batch_id_modal" name="batch_id_modal">
                        </div>
                        <div class="mb-3">
                            <label for="nvbug_modal" class="col-form-label">NvBug:</label>
                            <input type="text" class="form-control" id="batch_nvbug_modal">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="batchEditBugButton">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="batchEditCategoryModal" tabindex="-1" aria-labelledby="batchEditModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Edit Record</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <input type="hidden" id="batch_category_id" name="batch_id_modal">
                        </div>
                        <div class="mb-3">
                            <label for="batch_category_modal" class="col-form-label">Category:</label>
                            <input type="text" class="form-control" id="batch_category_modal">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="batchEditCategoryButton">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="batchCreateBugModal" tabindex="-1" aria-labelledby="batchCreateBugModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Create Bug</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="bug_title_modal" class="col-form-label">Title:</label>
                            <input type="hidden" id="batch_bug_ids_modal" name="batch_bug_ids_modal">
                            <input type="text" class="form-control" id="batch_bug_title_modal">
                        </div>
                        <div class="mb-3">
                            <label for="batch_bug_env_modal" class="col-form-label">Environment:</label>
                            <textarea rows="10" class="form-control" id="batch_bug_env_modal"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="batch_bug_des_modal" class="col-form-label">Description:</label>
                            <textarea rows="15" class="form-control" id="batch_bug_des_modal"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="batchCreateBugButton">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Edit Record</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="case_modal" class="col-form-label">Case:</label>
                            <input type="hidden" id="id_modal" name="id_modal">
                            <input type="text" readonly class="form-control" id="case_modal">
                        </div>
                        <div class="mb-3">
                            <label for="category_modal" class="col-form-label">Category:</label>
                            <input type="text" class="form-control" id="category_modal">
                        </div>
                        <div class="mb-3">
                            <label for="nvbug_modal" class="col-form-label">NvBug:</label>
                            <input type="text" class="form-control" id="nvbug_modal">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="editButton">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="bugModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Create Bug</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="bug_title_modal" class="col-form-label">Title:</label>
                            <input type="hidden" id="bug_id_modal" name="bug_id_modal">
                            <input type="text" class="form-control" id="bug_title_modal">
                        </div>
                        <div class="mb-3">
                            <label for="bug_env_modal" class="col-form-label">Environment:</label>
                            <textarea rows="10" class="form-control" id="bug_env_modal"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="bug_des_modal" class="col-form-label">Description:</label>
                            <textarea rows="15" class="form-control" id="bug_des_modal"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="bugButton">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="form-group form-inline">
        <select data-live-search="true" id="version" class="form-control form-select" title="Version">
            {% for row in version_list %}
            <option value="{{ row }}" {% if row == selected_version %} selected {% endif %}>{{ row }}</option>
            {% endfor %}
        </select>
        <select data-live-search="true" id="trt" class="form-control form-select" title="TensorRT">
            <option value="">ALL</option>
            {% for row in trt_list %}
            <option value="{{ row }}" {% if row == selected_trt %} selected {% endif %}>{{ row }}</option>
            {% endfor %}
        </select>
        <select data-live-search="true" id="cuda" class="form-control form-select" title="CUDA">
            <option value="">ALL</option>
            {% for row in cuda_list %}
            <option value="{{ row }}" {% if row == selected_cuda %} selected {% endif %}>{{ row }}</option>
            {% endfor %}
        </select>
        <select data-live-search="true" id="gpu" class="form-control form-select" title="GPU">
            <option value="">ALL</option>
            {% for row in gpu_list %}
            <option value="{{ row }}" {% if row == selected_gpu %} selected {% endif %}>{{ row }}</option>
            {% endfor %}
        </select>
        <select data-live-search="true" id="os" class="form-control form-select" title="OS">
            <option value="">ALL</option>
            {% for row in os_list %}
            <option value="{{ row }}" {% if row == selected_os %} selected {% endif %}>{{ row }}</option>
            {% endfor %}
        </select>
        <select data-live-search="true" id="arch" class="form-control form-select" title="Arch">
            <option value="">ALL</option>
            {% for row in arch_list %}
            <option value="{{ row }}" {% if row == selected_arch %} selected {% endif %}>{{ row }}</option>
            {% endfor %}
        </select>
        <select data-live-search="true" id="category" class="form-control form-select" title="Category">
            <option value="">ALL</option>
            {% for row in category_list %}
            <option value="{{ row }}" {% if row == selected_category %} selected {% endif %}>{{ row }}</option>
            {% endfor %}
        </select>
        <select data-live-search="true" id="case_name" class="form-control form-select" title="Case">
            <option value="">ALL</option>
            {% for row in case_list %}
            <option value="{{ row }}" {% if row == selected_case %} selected {% endif %}>{{ row }}</option>
            {% endfor %}
        </select>
    </div>
    <br/>
    <div class="form-group form-inline">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#batchEditBugModal">
            Batch Edit Bug
        </button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#batchEditCategoryModal">
            Batch Edit Category
        </button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#batchCreateBugModal">
            Batch Create Bug
        </button>
    </div>
    <br/>
    <div>
        <table class="table table-striped table-hover" style="word-break:break-word">
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" name="select-all" id="select-all" /></th>
                    <th scope="col" width="200px">Job</th>
                    <th scope="col" width="200px">Case Name</th>
                    <th scope="col">TensorRT</th>
                    <th scope="col">Driver</th>
                    <th scope="col">CUDA</th>
                    <th scope="col">CUDNN</th>
                    <th scope="col">GPU</th>
                    <th scope="col">OS</th>
                    <th scope="col">Arch</th>
                    <th scope="col">Category</th>
                    <th scope="col">NvBug</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Create Bug</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
<!--                    <td scope="row" hidden="hidden">{{ row.id }}</td>-->
                    <td><input id="check_item" type="checkbox" value="{{ row.id }}" ></td>
                    <td>{{ row.job }}</td>
                    <td><a href="{{ row.url }}">{{ row.case_name }}</a></td>
                    <td>{{ row.trt }}</td>
                    <td>{{ row.driver }}</td>
                    <td>{{ row.cuda }}</td>
                    <td>{{ row.cudnn }}</td>
                    <td>{{ row.platform }}</td>
                    <td>{{ row.os }}</td>
                    <td>{{ row.arch }}</td>
                    <td>{{ row.category }}</td>
                    <td>{{ row.nvbug }}</td>
                    <td>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editModal">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#bugModal">
                           Create Bug
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if pagination %}
<div class="pagination" id="page" name="page">
    {{ pagination.links }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        function reloadPage() {
            setTimeout(function () {
                location.reload();
            }, 1000)
        }

        $(document).on('click', "#bugButton", function (event) {
            event.preventDefault();
            var bug_id = $("#bug_id_modal").val()
            var bug_title = $("#bug_title_modal").val()
            var bug_env = $("#bug_env_modal").val()
            var bug_des = $("#bug_des_modal").val()
            create_bug(bug_id, bug_title, bug_env, bug_des);
            $(this).prev().click();
            history.go(0);
        });

        $(document).on('click', "#editButton", function (event) {
            event.preventDefault();
            var case_id = $("#id_modal").val()
            var category = $("#category_modal").val()
            var nvbug = $("#nvbug_modal").val()
            // or call the save function here
            edit(case_id, category, nvbug);
            $(this).prev().click();
            history.go(0);
        });

        $(document).on('show.bs.modal', '#editModal', function () {
            $tr = $(event.target).closest('tr');
            var idx = $tr.children("td").find("input").val();
            var data = $tr.children("td").map(function () {
                return $(this).text();
            }).get();

            $('#id_modal').val(idx);
            $('#case_modal').val(data[2]);
            $('#category_modal').val(data[10]);
            $('#nvbug_modal').val(data[11]);
        });

        $(document).on('show.bs.modal', '#bugModal', function () {
            $tr = $(event.target).closest('tr');
            var idx = $tr.children("td").find("input").val();
            var case_log = $tr.children("td").find("a").attr('href');
            var data = $tr.children("td").map(function () {
                return $(this).text();
            }).get();

            var job_name = data[1];
            var case_name = data[2];
            var trt_version = data[3];
            var driver_version = data[4];
            var cuda_version = data[5];
            var cudnn_version = data[6];
            var gpu = data[7];
            var os = data[8];
            var arch = data[9];

            var env_info = "TensorRT: " + trt_version + "\n" +
                           "Driver: " + driver_version + "\n" +
                           "CUDA: " + cuda_version + "\n" +
                           "CUDNN: " + cudnn_version + "\n" +
                           "GPU: " + gpu + "\n" +
                           "OS: " + os + "\n" +
                           "ARCH: " + arch + "\n";

            var des_info = "Job url: " + job_name + "\n" +
                           "Case name: " + case_name + "\n" +
                           "Case log: " + case_log + "\n";

            $('#bug_id_modal').val(idx);
            $('#bug_env_modal').val(env_info);
            $('#bug_des_modal').val(des_info);
        });

        $(document).on('show.bs.modal', '#batchEditBugModal', function () {
            var checkedVals = $("input[id='check_item']:checked").map(function() {
                return this.value;
            }).get();
            $('#batch_id_modal').val(checkedVals.join(","));
        });

        $(document).on('click', "#batchEditBugButton", function (event) {
            event.preventDefault();
            var case_ids = $("#batch_id_modal").val()
            var nvbug = $("#batch_nvbug_modal").val()
            if (case_ids.length > 0) {
                batch_edit_bug(case_ids, nvbug);
                // location.reload() can't load whole page.
                reloadPage();
            } else {
                alert("Please choose one item.");
            }
        });

        $(document).on('show.bs.modal', '#batchEditCategoryModal', function () {
            var checkedVals = $("input[id='check_item']:checked").map(function() {
                return this.value;
            }).get();
            $('#batch_category_id').val(checkedVals.join(","));
        });

        $(document).on('click', "#batchEditCategoryButton", function (event) {
            event.preventDefault();
            var case_ids = $("#batch_category_id").val()
            var category = $("#batch_category_modal").val()
            if (case_ids.length > 0) {
                batch_edit_category(case_ids, category);
                reloadPage();
            } else {
                alert("Please choose one item.");
            }
        });

        $(document).on('show.bs.modal', '#batchCreateBugModal', function () {
            var checkedVals = $("input[id='check_item']:checked").map(function() {
                return this.value;
            }).get();
            $('#batch_bug_ids_modal').val(checkedVals.join(","));
            get_info(checkedVals.join(","));
        });

        $(document).on('click', "#batchCreateBugButton", function (event) {
            event.preventDefault();
            var case_ids = $("#batch_bug_ids_modal").val()
            var bug_title = $("#batch_bug_title_modal").val()
            var bug_env = $("#batch_bug_env_modal").val()
            var bug_des = $("#batch_bug_des_modal").val()

            if (case_ids.length > 0) {
                create_bug(case_ids, bug_title, bug_env, bug_des);
                reloadPage();
            } else {
                alert("Please choose one item.");
            }
        });

        $(document).on('click', "#select-all", function(event) {
            if(this.checked) {
                $(':checkbox').each(function() {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function() {
                    this.checked = false;
                });
            }
        });

        $("#version").selectpicker();
        $("#trt").selectpicker();
        $("#cuda").selectpicker();
        $("#gpu").selectpicker();
        $("#os").selectpicker();
        $("#arch").selectpicker();
        $("#category").selectpicker();
        $("#case_name").selectpicker();

        function edit(id, category, nvbug) {
            $.ajax({
                url: "/edit",
                method: "POST",
                data: { 
                    id: id,
                    category: category,
                    nvbug: nvbug
                },
                dataType: "json",
                success: function (data) {
                }
            });
        }

        function create_bug(ids, title, environment, description) {
            $.ajax({
                url: "/create_bug",
                method: "POST",
                data: {
                    ids: ids,
                    title: title,
                    environment: environment,
                    description: description
                },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                }
            });
        }

        function get_info(ids) {
            $.ajax({
                url: "/get_info?ids=" + ids,
                method: "GET",
                dataType: "json",
                success: function (data) {
                    $('#batch_bug_env_modal').val(data['environment']);
                    $('#batch_bug_des_modal').val(data['description']);
                }
            });
        }

        function batch_edit_bug(ids, nvbug) {
            $.ajax({
                url: "/batch_edit_bug",
                method: "POST",
                data: {
                    ids: ids,
                    nvbug: nvbug
                },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                }
            });
        }

        function batch_edit_category(ids, category) {
            $.ajax({
                url: "/batch_edit_category",
                method: "POST",
                data: {
                    ids: ids,
                    category: category
                },
                dataType: "json",
                success: function (data) {
                    console.log(data);
                }
            });
        }

        function filter_data() {
            var version = $("#version").val()
            var trt = $("#trt").val()
            var cuda = $("#cuda").val()
            var gpu = $("#gpu").val()
            var os = $("#os").val()
            var arch = $("#arch").val()
            var category = $("#category").val()
            var case_name = $("#case_name").val()

            window.location = '?version=' + version +
                              '&&' + 'tensorrt=' + trt +
                              '&&' + 'cuda=' + cuda +
                              '&&' + 'gpu=' + gpu +
                              '&&' + 'os=' + os +
                              '&&' + 'arch=' + arch +
                              '&&' + 'category=' + category +
                              '&&' + 'case_name=' + case_name;

        }

        $(document).on("change", "#version", function () {
            filter_data();
        });

        $(document).on("change", "#trt", function () {
            filter_data();
        });

        $(document).on("change", "#cuda", function () {
            filter_data();
        });

        $(document).on("change", "#gpu", function () {
            filter_data();
        });

        $(document).on("change", "#os", function () {
            filter_data();
        });

        $(document).on("change", "#arch", function () {
            filter_data();
        });

        $(document).on("change", "#category", function () {
            filter_data();
        });

        $(document).on("change", "#case_name", function () {
            filter_data();
        });
    });
</script>
{% endblock %}